
{% extends "layout.html" %}

{% block pageTitle %}
Bank Maintenance
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<form action="bank-details" method="post" novalidate>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">How we use cookies</h1>
      <p class="govuk-body">A cookie is a small file which is stored on your device for a short time to make this service work.</p>
      <p class="govuk-body">We use cookies that are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>essential for the service to work, like remembering your answers to certain questions</li>
        <li>optional and will not stop the service from working, but will give us information to help us make it better</li>
      </ul>
      <p class="govuk-body">We will not:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>use any essential cookies until you use the service</li>
        <li>use any optional cookies unless you tell us we can</li>
        <li>be able identify you through using cookies</li>
      </ul>
      <p class="govuk-body"><a href="details-about-cookies">Find out more about cookies on this service</a></p>
      </div>
    </div>
  </form>

  {% endblock %}
