
{% extends "layout.html" %}

{% block pageTitle %}
Bank Maintenance
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<form action="change-interruption" method="post" novalidate>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      There is a problem with these account details
    </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Bank name
          </dt>
          <dd class="govuk-summary-list__value">
            Nationwide
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Name on the account
          </dt>
          <dd class="govuk-summary-list__value">
            John Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['sort-code2'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['account-number'] }}
          </dd>
        </div>
      </dl>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          The sort code is out of date - check it with the bank or building society
        </strong>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          </legend>
          <h2 class="govuk-heading-m">Do you want to try entering the account details again?</h2>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes" name="interruption" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes, I want to enter the account details again
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no" name="interruption" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no">
                No, you can get in contact for the account details if the application is approved
              </label>
            </div>

        </fieldset>
      </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

</form>

{% endblock %}
