
{% extends "layout.html" %}

{% block pageTitle %}
Bank Maintenance
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<form action="/change-account" method="post" novalidate>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-panel govuk-panel--interruption">
        <fieldset class="govuk-fieldset" aria-describedby="start_new_claim">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-heading-xl" id="start_new_claim">
                We cannot use the account details you entered
              </h1>
            </legend>

            <h2 class="govuk-heading-m">
              If you continue with your application, and it is approved, we will phone you to get your bank or building society account details.
            </h2>

            <h3 class="govuk-heading-m">
              Do you want to continue with your application?
            </h3>

          <div class="govuk-radios govuk-!-margin-bottom-9">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes-continue" name="continue" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="yes-continue">
                  Yes, I want to continue with my application - I understand someone might phone me to get my account details
                </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no-back" name="continue" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="no-back">
                  No, I want to try entering my account details again first
                </label>
            </div>
          </div>

        </fieldset>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

    </div>
  </div>
</div>

</form>

{% endblock %}
