
{% extends "layout.html" %}

{% block pageTitle %}
Bank Maintenance
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<form action="change-interruption" method="post" novalidate>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
    Check your bank details before continuing
  </h1>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Bank name
        </dt>
        <dd class="govuk-summary-list__value">
          Nationwide
        </dd>
      </div>
      <dt class="govuk-summary-list__key">
        Name on the account
      </dt>
      <dd class="govuk-summary-list__value">
        John Smith
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Sort code
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['sort-code'] }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Account number
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['account-number'] }}
      </dd>
    </div>
  </dl>

    <p class="govuk-body">You will go back to your Carer's Allowance application after confirming your bank details.</p>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>
  </div>


</form>

{% endblock %}
