{% extends "layout.html" %}

{% block pageTitle %}
Bank Maintenance
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Bank account maintenance",
    serviceUrl: "account-home",
    navigation: [
    {
      href: "",
      text: ""
    }
    ]
  }) }}
  <div class="homepage-top">
  <div class="homepage-top-content">
    <h1 class="govuk-heading-xl">
      Bank account maintenance
      <span>Prototypes</span>
    </h1>
  </div>
</div>
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {# Start of most recent box #}
    <div class="most-recent">

      {# Start of prototype write up #}
      <div class="prototype-write-up">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of release</dt>
              <dd class="govuk-body">TBC</dd>
            </dl>
          </div>

          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Feature</dt>
              <dd class="govuk-body">Bank Maintenance UI</dd>
            </dl>
          </div>

          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Related stories</dt>
              <dd class="govuk-body">TBC</dd>
            </dl>
          </div>
        </div>

        <h3 class="govuk-heading-s">Changes</h3>
        <p>N/A</p>

        <h3 class="govuk-heading-s">Hypothesis</h3>
        <p>Due to be updated</p>

        <h3 class="govuk-heading-s">Research notes</h3>
        <p>Due to be updated</p>

        <h4 class="govuk-heading-s">Add new bank account</h4>

        {{ govukButton({
          text: "View prototype",
          href: "/new-account/bank-details"
        }) }}

        <h4 class="govuk-heading-s">Change bank account</h4>

        {{ govukButton({
          text: "View prototype",
          href: "/change-account/start"
        }) }}

        <h4 class="govuk-heading-s">Prototype sort codes</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>112233 - account number validation</li>
          <li>1122334 - sort code validation</li>
          <li>111111 - roll number validation</li>
          <li>222222 - sort code changed validation</li>
          <li>333333 - sort code doesn't exist validation</li>
          <li>444444 - roll number format validation</li>
          <li>555555 - account number doesn't match sort code validation</li>
          <li>999999 - interruption screen (radio buttons don't go anywhere yet)</li>
          <li>Empty sort code field - enter sort code validation</li>
        </ul>

      </div>
      {# End of prototype write up #}

    </div>
    {# End of most recent box #}

  </div>
</div>

{% endblock %}
