
{% extends "layout.html" %}

{% block pageTitle %}
Bank Maintenance
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "bank-details"
}) }}

{% endblock %}

{% block content %}

<form action="change-interruption" method="post" novalidate>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  {{ govukErrorSummary({
    "titleText": "There is a problem with your bank account details",
    "errorList": [
      {
        "text": "We do not recognise this roll number."
      }
    ]
  }) }}

  <h1 class="govuk-heading-l">
    Check your bank account details
  </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Bank name
        </dt>
        <dd class="govuk-summary-list__value">
          Nationwide
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name on the account
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['name-on-the-account'] }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sort code
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sort-code'] }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['account-number'] }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Roll number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['roll-number'] }}
        </dd>
      </div>
    </dl>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        </legend>
        <h2 class="govuk-heading-m">Do you want to try entering your account details again?</h2>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="yes" name="interruption" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="yes">
              Yes, I want to enter my account details again
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="no" name="interruption" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="no">
              No, you can contact me for my account details if my application is approved
            </label>
          </div>

      </fieldset>
    </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

</form>

{% endblock %}
